/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*@import 'grid';*/
body {
  font-family: Raleway, sans-serif;
  /*'Josefin Sans', sans-serif'Raleway', sans-serif;*/
  color: #0c0f0f;
  font-size: 1.5rem;
  line-height: 1.5rem; }

h1 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 500;
  color: #FFFFFF;
  /*'Inconsolata', monospace;*/
  font-size: 4rem; }

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  padding-top: 6rem;
  padding-bottom: 4rem;
  font-weight: bold; }

@media screen and (max-width: 1024px) {
  .home_flex_container p {
    font-size: 1.5rem; }

  h1 {
    font-size: 5rem; } }
@media screen and (max-width: 830px) {
  body {
    font-size: 1.3rem;
    line-height: 1rem; }

  h1 {
    font-size: 4.5rem; } }
@media screen and (max-width: 680px) {
  h1 {
    font-size: 3.5rem; } }
.home {
  background-image: url("../../app/images/backgrounds/laptop_on_table_filtr.png");
  height: 100vh;
  color: #FFFFFF; }

.home_flex_container {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  padding-top: 15%;
  padding-left: 35%; }

h1 {
  line-height: 3rem; }

@media screen and (max-width: 1024px) {
  .home_flex_container {
    height: auto;
    align-items: flex-start;
    padding-top: 25%;
    padding-left: 25%; }
    .home_flex_container p {
      padding-top: 1rem; }

  h1 {
    line-height: 4rem; } }
@media screen and (max-width: 830px) {
  .home_flex_container {
    height: 50%;
    padding-left: 20%; } }
@media screen and (max-width: 680px) {
  h1 {
    line-height: 3rem; } }
.important {
  background-image: url("../../app/images/backgrounds/bambus_filtr.png");
  color: #FFFFFF; }
  .important .important_container {
    width: 75%;
    margin: 0 auto;
    text-align: center; }
    .important .important_container p {
      padding-bottom: 6rem; }

.values_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }

.value {
  display: inline-block;
  width: 32%;
  text-align: center; }

.value_name {
  font-weight: bolder;
  color: #f2c71a;
  margin: 30px 0; }

.value_description {
  font-size: 1rem; }

.icon {
  height: 200px; }

.coherence_icon svg, .communication_icon svg {
  height: auto;
  width: 60%;
  fill: #FFFFFF;
  fill-opacity: 0.9; }
  .coherence_icon svg text, .communication_icon svg text {
    fill-opacity: 0.1; }

.communication_icon svg {
  width: 70%; }

.simplicity_icon svg {
  fill: #FFFFFF;
  fill-opacity: 0.9;
  width: 50%;
  height: auto; }

@media screen and (max-width: 1024px) {
  .important .important_container {
    width: 95%; }

  .icon {
    height: 180px; } }
@media screen and (max-width: 830px) {
  .icon {
    height: 140px; } }
@media screen and (max-width: 680px) {
  .important .important_container {
    width: 75%; }

  .values_container {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center; }

  .value {
    width: 100%; }

  .icon {
    height: 200px; }

  .coherence_icon svg {
    width: 40%; }

  .communication_icon svg {
    width: 48%; }

  .simplicity_icon svg {
    width: 34%; } }
.contact {
  background-image: url("../../app/images/backgrounds/droga_filtr.png");
  color: #FFFFFF; }
  .contact .flex_item p span {
    display: block; }
    .contact .flex_item p span:nth-child(2) {
      font-weight: bold;
      padding: 2rem 0 4rem;
      font-size: 2rem; }
  .contact .flex_item p a {
    margin: 2rem; }
    .contact .flex_item p a img {
      width: 5rem; }

.about .flex_item p {
  text-align: justify;
  text-indent: 30px; }
  .about .flex_item p::first-letter {
    font-size: 2rem; }

@media screen and (max-width: 830px) {
  .about .flex_item p {
    text-indent: 20px;
    line-height: 2rem !important; }
    .about .flex_item p::first-letter {
      font-size: 1.5rem; } }
.technologies .flex_item ul li {
  display: inline-block;
  width: 25%; }
  .technologies .flex_item ul li:nth-child(5) svg {
    width: 250px; }

#technologies_container {
  margin-bottom: 6rem; }

.technology_list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  /* --- MOBILE ---- */ }
  .technology_list li {
    flex: 1 50%; }
  .technology_list .jquery_icon, .technology_list .gimp_icon {
    flex: 2 1 100%; }

/* --- VERY SMALL --- */
@media only screen and (max-width: 399px) {
  #technologies_container {
    width: 100%; } }
/* --- MEDIUM ---- */
@media only screen and (min-width: 640px) {
  .html_icon {
    order: 1; }

  .css_icon {
    order: 2; }

  .rwd_icon {
    order: 3; }

  .js_icon {
    order: 4; }

  .jquery_icon {
    order: 5; }

  .gimp_icon {
    order: 6; }

  .sass_icon {
    order: 7; }

  .foundation_icon {
    order: 8; }

  .gulp_icon {
    order: 9; }

  .git_icon {
    order: 10; }

  .technology_list li {
    flex: 0 1 auto; }
  .technology_list .jquery_icon, .technology_list .gimp_icon {
    flex: 50%; } }
/* --- LARGE ---- */
@media only screen and (min-width: 1024px) {
  .html_icon {
    order: 1; }

  .css_icon {
    order: 2; }

  .rwd_icon {
    order: 3; }

  .js_icon {
    order: 4; }

  .jquery_icon {
    order: 5; }

  .sass_icon {
    order: 6; }

  .gimp_icon {
    order: 7; }

  .foundation_icon {
    order: 8; }

  .git_icon {
    order: 9; }

  .gulp_icon {
    order: 10; }

  .technology_list .html_icon {
    flex: 4 1 auto; }
  .technology_list .js_icon {
    flex: 4 1 auto; }
  .technology_list .jquery_icon {
    flex: 100%; }
  .technology_list .gimp_icon {
    flex: 0 1 33%; }
  .technology_list .sass_icon {
    flex: 3 1 33%; }
    .technology_list .sass_icon svg {
      float: right; }
  .technology_list .foundation_icon {
    flex: 3 1 33%; }
    .technology_list .foundation_icon svg {
      float: left; } }
footer {
  font-size: 1rem;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  padding: 0.5rem;
  background-color: #273938; }

.navigation {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3; }

nav {
  height: 40px;
  top: 0;
  transition: top 0.2s ease-in-out; }

.nav-up {
  top: -40px; }

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff; }

.navigation li a {
  display: block;
  padding: 15px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none; }

.navigation li a:hover {
  background-color: #f4f4f4; }

.navigation .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none; }

.navigation .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out; }

.navigation .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none; }

.navigation .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px; }

.navigation .menu-icon .navicon:before,
.navigation .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%; }

.navigation .menu-icon .navicon:before {
  top: 5px; }

.navigation .menu-icon .navicon:after {
  top: -5px; }

.navigation .menu-btn {
  display: none; }

.navigation .menu-btn:checked ~ .menu {
  max-height: 240px; }

.navigation .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent; }

.navigation .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg); }

.navigation .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg); }

.navigation .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.navigation .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0; }

@media (min-width: 48em) {
  .navigation li {
    float: left; }

  .navigation li a {
    padding: 20px 30px; }

  .navigation .menu {
    clear: none;
    float: right;
    max-height: none; }

  .navigation .menu-icon {
    display: none; } }
.home, .important, .contact {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }

.contact, .about, .technologies {
  display: flex;
  align-items: center;
  justify-content: center; }
  .contact .flex_item, .about .flex_item, .technologies .flex_item {
    width: 75%;
    text-align: center; }
    .contact .flex_item p, .about .flex_item p, .technologies .flex_item p {
      padding-bottom: 6rem;
      line-height: 3rem; }

/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
  max-width: 960px;
  margin: 0 auto; }

/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0; }

section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px; }

section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300; }

section.module p:last-child {
  margin-bottom: 0; }

section.module.content {
  padding: 40px 0; }

section.module.parallax {
  padding: 240px 0;
  background-position: 0 0; }

section.module.parallax h1 {
  color: #1e1e1e;
  font-size: 48px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px white; }

section.module.parallax-1 {
  background-image: url("../images/demo/pattern1.png"); }

section.module.parallax-2 {
  background-image: url("../images/demo/pattern2.png"); }

section.module.parallax-3 {
  background-image: url("../images/demo/pattern3.png"); }

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px; }

  section.module p {
    font-size: 20px; }

  section.module.parallax {
    padding: 300px 0; }

  section.module.parallax h1 {
    font-size: 96px; } }
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px; } }

/*# sourceMappingURL=main.css.map */
