@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*@import 'grid';*/
body {
  font-family: Raleway, sans-serif;
  /*'Josefin Sans', sans-serif'Raleway', sans-serif;*/
  color: #0c0f0f;
  font-size: 1.5rem;
  line-height: 1.5rem; }

h1 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 500;
  color: #FFFFFF;
  /*'Inconsolata', monospace;*/
  font-size: 4rem; }

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  padding-top: 6rem;
  padding-bottom: 4rem;
  font-weight: bold; }

@media screen and (max-width: 1024px) {
  .home_flex_container p {
    font-size: 1.5rem; }
  h1 {
    font-size: 5rem; } }

@media screen and (max-width: 830px) {
  body {
    font-size: 1.3rem;
    line-height: 1rem; }
  h1 {
    font-size: 4.5rem; } }

@media screen and (max-width: 680px) {
  h1 {
    font-size: 3.5rem; } }

.home {
  background-image: url("../../app/images/backgrounds/laptop_on_table_filtr.png");
  height: 100vh;
  color: #FFFFFF; }

.home_flex_container {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  padding-top: 15%;
  padding-left: 35%; }

h1 {
  line-height: 3rem; }

@media screen and (max-width: 1024px) {
  .home_flex_container {
    height: auto;
    align-items: flex-start;
    padding-top: 25%;
    padding-left: 25%; }
    .home_flex_container p {
      padding-top: 1rem; }
  h1 {
    line-height: 4rem; } }

@media screen and (max-width: 830px) {
  .home_flex_container {
    height: 50%;
    padding-left: 20%; } }

@media screen and (max-width: 680px) {
  h1 {
    line-height: 3rem; } }

.important {
  background-image: url("../../app/images/backgrounds/bambus_filtr.png");
  color: #FFFFFF; }
  .important .important_container {
    width: 75%;
    margin: 0 auto;
    text-align: center; }
    .important .important_container p {
      padding-bottom: 6rem; }

.values_container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }

.value {
  display: inline-block;
  width: 32%;
  text-align: center; }

.value_name {
  font-weight: bolder;
  color: #f2c71a;
  margin: 30px 0; }

.value_description {
  font-size: 1rem; }

.icon {
  height: 200px; }

.coherence_icon svg, .communication_icon svg {
  height: auto;
  width: 60%;
  fill: #FFFFFF;
  fill-opacity: 0.9; }
  .coherence_icon svg text, .communication_icon svg text {
    fill-opacity: 0.1; }

.communication_icon svg {
  width: 70%; }

.simplicity_icon svg {
  fill: #FFFFFF;
  fill-opacity: 0.9;
  width: 50%;
  height: auto; }

@media screen and (max-width: 1024px) {
  .important .important_container {
    width: 95%; }
  .icon {
    height: 180px; } }

@media screen and (max-width: 830px) {
  .icon {
    height: 140px; } }

@media screen and (max-width: 680px) {
  .important .important_container {
    width: 75%; }
  .values_container {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center; }
  .value {
    width: 100%; }
  .icon {
    height: 200px; }
  .coherence_icon svg {
    width: 40%; }
  .communication_icon svg {
    width: 48%; }
  .simplicity_icon svg {
    width: 34%; } }

.contact {
  background-image: url("../../app/images/backgrounds/droga_filtr.png");
  color: #FFFFFF; }
  .contact .flex_item p span {
    display: block; }
    .contact .flex_item p span:nth-child(2) {
      font-weight: bold;
      padding: 2rem 0 4rem;
      font-size: 2rem; }
  .contact .flex_item p a {
    margin: 2rem; }
    .contact .flex_item p a img {
      width: 5rem; }

.about .flex_item p {
  text-align: justify;
  text-indent: 30px; }
  .about .flex_item p::first-letter {
    font-size: 2rem; }

@media screen and (max-width: 830px) {
  .about .flex_item p {
    text-indent: 20px;
    line-height: 2rem !important; }
    .about .flex_item p::first-letter {
      font-size: 1.5rem; } }

.technologies .flex_item ul li {
  display: inline-block;
  width: 25%; }
  .technologies .flex_item ul li:nth-child(5) svg {
    width: 250px; }

#technologies_container {
  margin-bottom: 6rem; }

.technology_list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  /* --- MOBILE ---- */ }
  .technology_list li {
    flex: 1 50%; }
  .technology_list .jquery_icon, .technology_list .gimp_icon {
    flex: 2 1 100%; }

/* --- VERY SMALL --- */
@media only screen and (max-width: 399px) {
  #technologies_container {
    width: 100%; } }

/* --- MEDIUM ---- */
@media only screen and (min-width: 640px) {
  .html_icon {
    order: 1; }
  .css_icon {
    order: 2; }
  .rwd_icon {
    order: 3; }
  .js_icon {
    order: 4; }
  .jquery_icon {
    order: 5; }
  .gimp_icon {
    order: 6; }
  .sass_icon {
    order: 7; }
  .foundation_icon {
    order: 8; }
  .gulp_icon {
    order: 9; }
  .git_icon {
    order: 10; }
  .technology_list li {
    flex: 0 1 auto; }
  .technology_list .jquery_icon, .technology_list .gimp_icon {
    flex: 50%; } }

/* --- LARGE ---- */
@media only screen and (min-width: 1024px) {
  .html_icon {
    order: 1; }
  .css_icon {
    order: 2; }
  .rwd_icon {
    order: 3; }
  .js_icon {
    order: 4; }
  .jquery_icon {
    order: 5; }
  .sass_icon {
    order: 6; }
  .gimp_icon {
    order: 7; }
  .foundation_icon {
    order: 8; }
  .git_icon {
    order: 9; }
  .gulp_icon {
    order: 10; }
  .technology_list .html_icon {
    flex: 4 1 auto; }
  .technology_list .js_icon {
    flex: 4 1 auto; }
  .technology_list .jquery_icon {
    flex: 100%; }
  .technology_list .gimp_icon {
    flex: 0 1 33%; }
  .technology_list .sass_icon {
    flex: 3 1 33%; }
    .technology_list .sass_icon svg {
      float: right; }
  .technology_list .foundation_icon {
    flex: 3 1 33%; }
    .technology_list .foundation_icon svg {
      float: left; } }

footer {
  font-size: 1rem;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  padding: 0.5rem;
  background-color: #273938; }

/* container hamburgera */
.hamburger_icon_shell {
  margin: 0;
  position: absolute;
  width: 70px;
  height: 100px;
  left: calc(100% - 100px);
  top: 20px; }

/* Paski hamburgera */
.top, .middle {
  position: absolute;
  width: 62px;
  height: 10px;
  background-color: #273938;
  transition: all 350ms ease-in-out;
  top: 20px; }

.middle {
  top: 40px; }

.menu {
  position: absolute;
  left: calc(100% - 292px);
  top: 10px;
  color: #0c0f0f;
  display: block;
  margin: 120px 30px;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-weight: 100;
  font-size: 20px;
  padding: 24px;
  width: 200px;
  text-align: right;
  overflow-y: hidden;
  max-height: 250px;
  /* approximate max height */
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1); }

.menu_hidden {
  height: 0;
  padding: 0 24px; }

.menu a {
  display: block;
  text-decoration: none;
  padding-bottom: 10px;
  margin-bottom: 12px;
  border-bottom: 1px solid #273938;
  list-style: none;
  color: #EDEEE0;
  transition: all 150ms ease; }

/* hover poszczególnych elementów menu*/
.menu a:hover {
  color: #f2c71a;
  padding-right: 3px;
  border-bottom: 1px solid #f2c71a; }

.menu a {
  text-decoration: none; }

/* przekształcanie hamburgera na X */
.rotate {
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  top: 30px;
  background-color: #f2c71a;
  height: 2px; }

.rotate-back {
  transform: rotate(-225deg);
  -webkit-transform: rotate(-225deg);
  top: 30px;
  background-color: #f2c71a;
  height: 2px; }

.top {
  -webkit-animation-delay: 100ms; }

.middle {
  -webkit-animation-delay: 250ms; }

.bottom {
  -webkit-animation-delay: 400ms; }

.menu-name {
  font-weight: 900;
  color: #273938;
  font-size: 1.3rem;
  text-decoration: none;
  position: absolute;
  top: 56px;
  left: -1px;
  transition: all 350ms; }

.bump {
  top: 64px;
  color: #f2c71a; }

/* STICKY MENU */
.sticky {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(61, 78, 77, 0.9);
  color: #FFFFFF;
  margin: 0;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  height: 20px;
  z-index: 4;
  transition-duration: 1s;
  transition-property: padding-top, padding-bottom, height, background-color; }

.sticky a {
  display: inline-block;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid #EDEEE0;
  list-style: none;
  color: #FFFFFF;
  font-family: Raleway, sans serif;
  font-weight: 700;
  margin: auto 50px; }

/* hover poszczególnych elementów menu*/
.sticky a:hover {
  color: #f2c71a;
  padding-right: 3px; }

@media screen and (max-width: 1024px) {
  .sticky a {
    margin: auto 30px; } }

@media screen and (max-width: 830px) {
  .sticky a {
    margin: auto 10px; } }

.home, .important, .contact {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }

.contact, .about, .technologies {
  display: flex;
  align-items: center;
  justify-content: center; }
  .contact .flex_item, .about .flex_item, .technologies .flex_item {
    width: 75%;
    text-align: center; }
    .contact .flex_item p, .about .flex_item p, .technologies .flex_item p {
      padding-bottom: 6rem;
      line-height: 3rem; }

/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
  max-width: 960px;
  margin: 0 auto; }

/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0; }

section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px; }

section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300; }

section.module p:last-child {
  margin-bottom: 0; }

section.module.content {
  padding: 40px 0; }

section.module.parallax {
  padding: 240px 0;
  background-position: 0 0; }

section.module.parallax h1 {
  color: #1e1e1e;
  font-size: 48px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px white; }

section.module.parallax-1 {
  background-image: url("../images/demo/pattern1.png"); }

section.module.parallax-2 {
  background-image: url("../images/demo/pattern2.png"); }

section.module.parallax-3 {
  background-image: url("../images/demo/pattern3.png"); }

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px; }
  section.module p {
    font-size: 20px; }
  section.module.parallax {
    padding: 300px 0; }
  section.module.parallax h1 {
    font-size: 96px; } }

@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px; } }

/*# sourceMappingURL=main.css.map */
